*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #FFFFFF;
    --darker: #000000;
    --dark: #1F1F1F;
    --light: #BEBCBB;
    --secondary: #161C3B;
    --footer: #00439C;
    --text: #919191;

}


main{
    font-family: Arial, Helvetica, sans-serif;
}
/* .title_section{
    font-size: 24px;
} */
.color_description{
color: var(--text);
}

/* #region header */
.sony{
background-color: var(--dark);
}
.sony>img{
    width: 50px;
}

.dropdown-item{
    width: 100%;
}
.dropdown-toggle::after{
    border: none ;
    
    }

.menu-drop{
    position: absolute;
  width: 100%;
    top: 100px;
}


/* #endregion header */

/* #region jumbo */

/*  
 .call_to_action{
    height: 400px; 
    background-color: brown;
} */
.jumbo{
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}


.returnal{
    width: 100%;
}
/* #endregion jumbo */

/* #region game selector */
.image_game>img{
    width: 100%;
}
/* #endregion game selector */

/* #region playstation 5 */
/* 
.playstation_5{
    height: 500px;
    background-color: aqua;
} */

.ps_console>img{
    width: 100%;
}
.accessori>img{
    width: 70%;
    margin-bottom: 5px;
}
.accessori{
    padding: 0 10px;
}
.disabled{
    opacity: 50%;
}
/* #endregion playstation 5 */


/* #region call to cation */
.call_to_action{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;
}


/* #endregion call to cation */

/* #region new games */
.new_games_picture>img{
width: 100%;
}

.new_games{

    background-color: var(--dark) ;
}
/* #endregion new games */

/* #region explore */

div >.ps_4{
    width: 100%;
}
/* #endregion explore */



/* #region extraplus */
.extra_plus{
    background-color: var(--light);
}
.ps_plus_logo{
    width: 50%;
}

.ps_plus_april{
width: 100%;
}

.col > .sales_image{
    width: 100%;

}

/* #endregion extraplus */


/* #region extranow */



.extra_now{
    background-color: var(--secondary);
}

.ps_now_logo{
    width: 100%;
}

.col>.ps_now_april{
    width: 100%;
}
/* #endregion extranow */

/* #region social */
div>.social{
    width: 100%;
}
/* #endregion social */


/* #region footer */

footer{
    background-color: var(--footer);
}
.language{
    width: 20px;
}
.logo_sie{
    width: 120px;
}
/* #endregion footer */



/* #region hover */
.btn{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
    opacity: 1;
}
.btn:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.white:before {
    content: '';
    position: absolute;
    border: white solid 4px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    border-radius: 5px;
}
.blue:before {
    content: '';
    position: absolute;
    border: blue solid 4px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    border-radius: 5px;
}
.red:before {
    content: '';
    position: absolute;
    border: red solid 4px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    border-radius: 5px;
}

.grey{
    background-color: #D9DADC;
  
}
.grey:before {
    content: '';
    position: absolute;
    border: #D9DADC solid 4px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    border-radius: 5px;
}

.image_game{
    transition: transform 1s;

}
.image_game:hover{
    transform: translateY(-20px);

}

.accessori:hover{
    opacity: 100%;
    border-bottom: 2px solid #1F83D4;
}
/* #endregion hover */
